---
import Layout from '@layouts/Layout.astro';
import TopBar from '@components/TopBar.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import MenuHighlights from '@components/MenuHighlights.astro';
import FullMenu from '@components/FullMenu.astro';
import Reviews from '@components/Reviews.astro';
import Catering from '@components/Catering.astro';
import Gallery from '@components/Gallery.astro';
import Visit from '@components/Visit.astro';
import Footer from '@components/Footer.astro';
import MobileCTA from '@components/MobileCTA.astro';
---

<Layout>
	<Header />
	<TopBar />
	<main id='main'>
		<Hero />
		<About />
		<MenuHighlights />
		<FullMenu />
		<Reviews />
		<Catering />
		<Gallery />
		<Visit />
	</main>
	<Footer />
	<MobileCTA />
</Layout>
